################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PowerShell/v15
/.vs
/obj/Debug
